<main>
  <img class="main-svg" src="../../assets/ajay.svg" alt="name" />
  <span
    >{{ work }} &nbsp;
    <a (click)="pageLiked()" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> </a
  > {{like}}</span>
  <div class="main__component">
    <span class="main__component-text">
      <mark style="background-color: 'rgb(237, 237, 237)';"
        >I design and try to share what I learn by making videos, giving talks,
        recording podcasts, & writing things down.</mark
      >
    </span>
    <img class="main-image" src="../../assets/ajay_1.jpg" alt="ajay" />
  </div>
</main>
